<!-- <style>
  /* New Hero Thin */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/ Hero Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Thin Italic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
  }

  /* New Hero UltraLight */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Ultra Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Ultra Light Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
  }

  /* New Hero Light */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/Hero Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
  }

  /* New Hero Regular */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Regular Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
  }

  /* New Hero Medium */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Medium Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
  }

  /* New Hero SemiBold */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero SemiBold Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
  }

  /* New Hero Bold */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/NewHeroBoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
  }

  /* New Hero ExtraBold */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/NewHeroExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero ExtraBold Italic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
  }

  /* New Hero Super */
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero Super.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "New Hero";
    src: url("../fonts/New Hero SuperItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
  }
  * {
    font-family: "New Hero", sans-serif;
  }

  * {
    margin: 0;
  }
  body {
    font-family: "New Hero", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .blog-header {
    box-shadow: 0 4px 10px 0 rgba(128, 137, 144, 0.1);
    line-height: 1;
    position: sticky;
    background: #fff;
    z-index: 120;
    left: 0;
    right: 0;
    top: 0;
  }

  .container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .blog-headwrap.grid {
    display: flex;
    flex-direction: row;
    padding: 11px 0;
    position: relative;
    z-index: 5;
  }
  .grid-justifybetween {
    justify-content: space-between;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .grid-cell--center {
    align-self: center;
  }
  .blog-header-logo {
    line-height: 1;
    display: inline-block;
  }
  img {
    max-width: 100%;
    height: auto;
    overflow: clip;
  }
  .blogs-category-cover {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .blogs-header-category {
    display: inline-block;
    position: relative;
    align-self: center;
    min-width: 100px;
    padding: 7px 10px;
    justify-content: space-between;
    border-radius: 10px;
    margin-right: 15px;
  }
  .blogs-header-categ-msg {
    font-size: 14px;
    align-self: center;
    cursor: pointer;
  }
  .blogs-header-category:hover {
    cursor: pointer;
    background-color: #f4f6f6;
  }
  .blogs-header-arrow {
    transform: rotate(-180deg);
    transition: all 0.1s;
    width: 8px;
    height: 8px;
    align-self: center;
    margin-left: 3px;
  }
  .blog-menu.grid {
    z-index: 1;
    opacity: 1;
    position: static;
    transform: none;
    transition: none;
    visibility: visible;
    display: flex;
  }
  .blog-menu .menu-item {
    align-self: center;
  }
  .blog-menu .menu-item a {
    display: inline;
    padding: 7px 10px;
    margin-right: 32px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
  }
  .blog-menu .menu-item a:hover {
    cursor: pointer;
    background-color: #f4f6f6;
  }
  .blog-demo-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    background: #e8580a;
    color: #fff;
    outline: 0;
    border: none;
    display: inline-block;
    box-shadow: none;
    padding: 12px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    transition: background-color 0.3s linear;
  }
</style> -->
<section class="blog-header">
  <div class="container">
    <div class="blog-headwrap grid grid-justifybetween">
      <div class="grid grid-cell--center">
        <a href="#" class="blog-header-logo">
          <img
            src="https://blog.happyfox.com/wp-content/themes/happyfox-blog/assets/images/hfblog-logo-color.svg"
            alt="Happyfox Blog"
          />
        </a>
      </div>
      <div class="blogs-category-cover grid-cell--center">
        <div class="blogs-header-category">
          <a href="#" class="blogs-header-categ-msg">Topics</a>
          <img
            class="blogs-header-arrow"
            src="https://blog.happyfox.com/wp-content/themes/happyfox-blog/assets/images/down.svg"
            alt="Happyfox Blog selector"
          />
        </div>
        <ul class="blog-menu grid">
          <li class="menu-item"><a>E-books & Guides</a></li>
          <li class="menu-item"><a>Customer Service</a></li>
          <li class="menu-item"><a>Careers</a></li>
        </ul>
        <div class="blog-menu-btn grid-cell--center">
          <a href="#" class="blog-demo-btn">Get a Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
