.blog-index .first-blog {
  padding: 50px 0px;
}

.blog-index .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.blog-index .grid--justify-between {
  justify-content: space-between;
}
.blog-index .grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-index .grid--1of2 > .grid-cell.blog-card-wrap + .grid-cell {
  margin-top: 50px;
}
.blog-index .blog-banner-text {
  order: 2;
}
.blog-index .grid-cell--center {
  align-self: center;
}

.blog-index .blog-card {
  cursor: pointer;
}

.blog-index .blog-post-info + .blog-card-text {
  margin-top: 10px;
}

.blog-card-text a {
  text-decoration: none !important;
}

.blog-index .large-card .blog-card-heading {
  font-size: 26px;
  line-height: 1.2;
  margin: 0 0 10px;
  color: #181c20;
}

.blog-index .blog-card-heading {
  font-size: 26px;
  line-height: 1.2;
  margin: 0 0 10px;
  font-weight: 500;
  color: #181c20;
}

.blog-index .blog-card-para {
  font-size: 16px;
  line-height: 1.63;
  color: #5c6064;
}

.blog-index .blog-banner-gfx {
  padding: 0 0 30px;
  order: 1;
  position: relative;
}

.blog-index .blog-video-section .blog-card-image {
  margin: 0;
  /* max-width: 720px; */
  width: 100%;
}

.blog-index .blog-card-image {
  border-radius: 20px;
  box-shadow: 0 10px 20px 0 rgba(92, 96, 100, 0.2);
  margin: 0 0 30px;
  transition: all 0.3s;
}
.blog-index .blog-card-image:hover {
  box-shadow: 0 0 10px 0 #e6e6e6;
  transform: scale(1.05);
}

.blog-index img {
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.blog-index .blog-banner-hero {
  position: absolute;
  top: -235px;
  z-index: -1;
  right: -170px;
  display: none;
}

.blog-index .rest-blog {
  padding: 0 0 50px;
}

.blog-index .grid-cell-top {
  align-self: flex-start;
}

.blog-index .grid--1of2 > .grid-cell {
  flex: 0 0 100%;
}

.blog-index .grid-cell {
  flex: 1;
}

.blog-index .blog-bard {
  cursor: pointer;
}
.blog-index .blog-card-image-wrap {
  display: inline-block;
}
.blog-index .blog-post-info {
  display: flex;
}
.blog-index .blog-info {
  display: flex;
  font-size: 14px;
  color: #5c6064;
}
.blog-index .blog-info-img {
  padding-right: 5px;
}
.blog-index .blog-info-time {
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
  position: relative;
}

@media (min-width: 768px) {
  .blog-index .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .blog-index .first-blog {
    padding: 50px 0px 100px;
  }
  .blog-index .container {
    width: 970px;
  }
  .blog-index .blog-banner-text {
    order: 0;
    width: 35.25%;
  }
  .blog-index .large-card .blog-card-heading {
    
    font-size: 34px;
    font-weight: 500;
  }
  .blog-index .blog-banner-gfx {
    padding: 30px 0px;
    order: 1;
    width: 58%;
    position: relative;
  }
  .blog-index .blog-banner-hero {
    display: block;
  }
  .blog-index .rest-blog {
    padding: 0 0 100px;
  }
  .blog-index .grid--1of2 > .grid-cell.blog-card-wrap {
    max-width: 400px;
  }
  .blog-index .grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .blog-index .u-1of2 {
    width: 50% !important;
  }
  .blog-index .grid--1of2>.grid-cell.blog-card-wrap:nth-child(2){
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .blog-index .container {
    width: 1170px;
  }
  .blog-index .grid--1of2 > .grid-cell.blog-card-wrap {
    max-width: 520px;
  }
}
@media (min-width: 1320px) {
  .blog-index .container {
    width: 1280px;
  }
}
