/* New Hero Thin */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/ Hero Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

/* New Hero UltraLight */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Ultra Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Ultra Light Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* New Hero Light */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/Hero Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* New Hero Regular */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Regular Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* New Hero Medium */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* New Hero SemiBold */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero SemiBold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* New Hero Bold */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/NewHeroBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* New Hero ExtraBold */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/NewHeroExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero ExtraBold Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

/* New Hero Super */
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero Super.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "New Hero";
  src: url("../fonts/New Hero SuperItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
* {
  font-family: "New Hero", sans-serif;
}

body {
  font-family: "New Hero", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
}

a{
  text-decoration: none;
}